:root {
    --primary-color: #e72e77;
    --secondary-color: #b4245d;
}
body,html{font-family: 'Poppins', sans-serif;}
a{text-decoration: none;}


/* ==============================
     Responsive   
   ============================== */ 
   @media only screen and (min-width:576px) {

   }
   @media only screen and (min-width:768px) {
   
   }
   @media only screen and (min-width:992px) {
       .nav-link.dropdown-toggle.prd-menu-bar {
           display: none;
       }
       li.nav-item.all-product-link {
           display: none;
       }
       .all-product-link {
           display: none;
       }
   
   }
   @media only screen and (min-width:1200px) {
       /* .container {
           max-width: 1340px;
       } */
   }
   @media only screen and (min-width: 1407px){
       
   
   }
   @media only screen and (max-width: 1700px){
      
       
   
   }
   @media only screen and (max-width:1199px) {	
       header.bread-section:after{
           width: 45%;
       }
   }
   @media only screen and (max-width:991px) {
       .twt-navbar.twt-navbar-common.fixed .brand-logo-img{height: 75px;}
       .twt-navbar.twt-navbar-common.fixed .brand-logo-img{top: 3px;}
       .twt-navbar.twt-navbar-common.fixed{padding: 23px 15px !important;}
       .twt-navbar.twt-navbar-common .brand-logo-img{height: 80px;
           top: 8px;}
       .twt-navbar.twt-navbar-common .drodown-menu-items{padding-left: 15px !important;}
       .twt-navbar.twt-navbar-common .dropdown-submenu{border-bottom: none;}
       .dropdown-submenu.all-product-link {
           display: block;
       }
       .twt-navbar.twt-navbar-common .navbar-nav .nav-item:after{display: none;}
       .twt-navbar.twt-navbar-common .dropdown-submenu .dropdown-menu{padding-left: 0;}
       .twt-navbar.twt-navbar-common .dropdown-menu .dropdown-item:hover{background: transparent;color: #fdbe01;}
       a.nav-link.dropdown-toggle.product-main-link {
           display: none;
       }
       .nav-link.dropdown-toggle.prd-menu-bar {
           display: block;
       }
       li.nav-item.all-product-link {
           display: block;
       }
       .navbar-slide .navbar-toggler {
           margin-left: auto;
           display: table;
           position: relative;
           top: 5px;
       }
       .twt-navbar.twt-navbar-common .navbar-nav .nav-item{border-bottom: 1px solid #ddd;}
       .twt-navbar.twt-navbar-common.nav-light .navbar-nav .nav-item .nav-link{padding: 14px 1.5rem;}
       .twt-navbar-common .navbar-slide{display: block;}
       .toggle-menu {
           position: relative;
           margin-left: auto;
           width: 50px;
           height: 43px;
           border-radius: 0;
           color: #000000;
           font-size: 23px;
       }
       .footer-quick-links {
           margin: inherit;
           display: block;
       }
       .twt-navbar.twt-navbar-common .navbar-nav .nav-item.active:after{display: none;}
       .overlay-google-translate{display: none;}   
   } 
   
   @media only screen and (max-width:767px) {
       .twt-navbar.twt-navbar-common.fixed a.navbar-brand{width: 120px !important;}
       .counter-line:before{display: none;}
       .twt-navbar.twt-navbar-common .brand-logo-img{top: 15px;}
       .sub-heading{
           font-size: 30px;
       }
       /* a.navbar-brand{width: 140px;} */
       .twt-navbar.twt-navbar-common.fixed .brand-logo-img, .twt-navbar.twt-navbar-common .brand-logo-img{height: 70px;}
       .header-top .social-media .social-link .span-icon {
           display: none;
       }
   }
   @media only screen and (max-width:479px) {
       .sub-heading{
           line-height: 46px;
       }
       .footer-quick-title{
           padding-bottom: 12px
       }
   }
   
   @media only screen and (max-width:380px) {
       .breadcrumb-item{
           font-size: 14px;
       }
   }   